<ion-modal-view class="irk-modal padding">

<irk-ordered-tasks >
<!--   <irk-task>
    <irk-instruction-step id="s1" title="Hello." text="This is a sample survey."/>
  </irk-task> -->

 <!--  <irk-task>
    <irk-scale-question-step id="q1" title="A scale question." text="This is required so you have to answer." min="1" max="10" step="1" value="5" optional="false" />
  </irk-task>

  <irk-task>
    <irk-scale-question-step id="q2" title="A scale question." text="This is not required so you can skip this." min="1" max="10" step="1" value="5" min-text="Low" max-text="High"/>
  </irk-task>

  <irk-task>
    <irk-boolean-question-step id="q3" title="A boolean question." text="True or False?" true-value="yes" false-value="no" true-text="Yes" false-text="No"/>
  </irk-task>

  <irk-task>
    <irk-text-question-step id="q4" title="A text question." text="This is for multiple lines." placeholder="Your placeholder." />
  </irk-task>

  <irk-task>
  <irk-task>
    <irk-text-question-step id="q5" title="A text question." text="This is for a single line." multiple-lines="false" placeholder="Your placeholder." />
  </irk-task> -->

<!--   <irk-task>
    <irk-text-choice-question-step id="q6" title="A multiple choice question." text="Select only one." style="single">
      <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
      <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
      <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task> -->

 <!--  <irk-task>
    <irk-text-choice-question-step id="q7" title="A multiple choice question." text="Select all that apply." style="multiple">
      <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
      <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
      <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task> -->

<!--   <irk-task>
    <irk-numeric-question-step id="q8" title="A number question." text="Accepts numbers only." unit="Your unit." min="1" max="10" placeholder="Your placeholder." />
  </irk-task>

  <irk-task>
    <irk-date-question-step id="q9" title="A date question." text="Shows the native date picker." />
  </irk-task>

  <irk-task>
    <irk-time-question-step id="q10" title="A time question." text="Shows the native time picker." />
  </irk-task>

  <irk-task>
    <irk-value-picker-question-step id="q11" title="A value picker question." text="Select a value." >
      <irk-picker-choice text="Choice 1" value="1"></irk-picker-choice>
      <irk-picker-choice text="Choice 2" value="2"></irk-picker-choice>
      <irk-picker-choice text="Choice 3" value="3"></irk-picker-choice>
    </irk-value-picker-question-step>
  </irk-task> -->
<!-- 
  <irk-task>
    <irk-image-choice-question-step id="q12" title="An image choice question." text="Select an image.">
      <irk-image-choice text="Sad" value="sad" normal-state-image="ion-sad-outline" selected-state-image="ion-sad"></irk-image-choice>
      <irk-image-choice text="Happy" value="happy" normal-state-image="ion-happy-outline" selected-state-image="ion-happy"></irk-image-choice>
    </irk-image-choice-question-step>
  </irk-task> -->

 <!--  <irk-task>
    <irk-image-choice-question-step id="q13" title="An image choice question." text="Select an image.">
      <irk-image-choice text="Burger" value="burger" type="image" normal-state-image="choice-food-burger" selected-state-image="choice-food-burger"></irk-image-choice>
      <irk-image-choice text="Pizza" value="pizza" type="image" normal-state-image="choice-food-pizza" selected-state-image="choice-food-pizza"></irk-image-choice>
    </irk-image-choice-question-step>
  </irk-task> -->

  <irk-task>
    <irk-form-step id="q1" title="Basic Info" text="&nbsp;" >
      <!-- <irk-form-item title="Basic Info"></irk-form-item> -->
 <irk-form-item type="text" id="card_no" name="card_no" text="Card No." placeholder="Card No."></irk-form-item>
	  <irk-form-item type="date" id="issued_date" name="issued_date" text="Card Issued" placeholder="Tap here.." ></irk-form-item>
	  <irk-form-item type="date" id="form_fill_date" name="form_fill_date" text="Form Fill Date" placeholder="" ></irk-form-item>
	  <irk-form-item type="text" id="name" text="Name" placeholder="Name of the card holder" ></irk-form-item>
	  <irk-form-item type="text" id="parent" name="parent" text="Parent" placeholder="Father's/Mother's Name" ></irk-form-item>
	  <irk-form-item type="date" id="dob" name="dob" text="Date of birth" placeholder="" ></irk-form-item> 
      </irk-form-step>
  </irk-task>
  
    <irk-task>
    <irk-form-step id="q2" title="PERMANENT ADDRESS & CONTACT" text="&nbsp;">
	<irk-form-item type="text" id="street" name="street" text="Street" placeholder="Street" ></irk-form-item>
	<irk-form-item type="text" id="house_no" name="house_no" text="House No" placeholder="House No" ></irk-form-item>
	<irk-form-item type="text" id="city" name="city" text="City" placeholder="City" ></irk-form-item>
	<irk-form-item type="text" id="pin" name="pin" text="PIN" placeholder="PIN" ></irk-form-item>
	<irk-form-item type="tel" id="phone" name="phone" text="Phone" placeholder="Phone" ></irk-form-item>
	<irk-form-item type="email" id="email" name="email" text="Email" placeholder="Email" ></irk-form-item>
	<irk-form-item type="text" id="course" name="course" text="Course" placeholder="Course" ></irk-form-item>
	<irk-form-item type="text" id="course_year" name="course_year" text="Pursuing Year" placeholder="e.g. 1st year/2nd year" ></irk-form-item>
	</irk-form-step>
  </irk-task> 
  
  
   <irk-task>
    <irk-form-step id="q3" title="SCHOOL/INSTITUTE/COLLEGE ADDRESS & CONTACT" text="&nbsp;">
	<irk-form-item type="text" id="ins_name" name="ins_name" text="Name" placeholder="Name of Institution" ></irk-form-item>
	<irk-form-item type="text" id="ins_street" name="ins_street" text="Street" placeholder="Street" ></irk-form-item>
	<irk-form-item type="text" id="ins_pin" name="ins_pin" text="Pin" placeholder="Pin" ></irk-form-item>
	<irk-form-item type="text" id="ins_city" name="ins_city" text="City" placeholder="City" ></irk-form-item>
	<irk-form-item type="text" id="ins_fax" name="ins_fax" text="Fax" placeholder="Fax" ></irk-form-item>
	<irk-form-item type="tel" id="ins_phone" name="ins_phone" text="Phone" placeholder="Phone" ></irk-form-item>
	<irk-form-item type="email" id="ins_email " name="ins_email " text="Email" placeholder="Email" ></irk-form-item>
	</irk-form-step>
  </irk-task> 
  
   <irk-task>
    <irk-form-step id="q4" title="MY 8 FAMILY MEMBERS" text="&nbsp;">
	<irk-form-item type="text" id="member1" name="member1" text="Member" placeholder="Member1" ></irk-form-item>
	<irk-form-item type="text" id="member2" name="member2" text="Member" placeholder="Member2" ></irk-form-item>
	<irk-form-item type="text" id="member3" name="member3" text="Member" placeholder="Member3" ></irk-form-item>
	<irk-form-item type="text" id="member4" name="member4" text="Member" placeholder="Member4" ></irk-form-item>
	<irk-form-item type="text" id="member5" name="member5" text="Member" placeholder="Member5" ></irk-form-item>
	<irk-form-item type="text" id="member6" name="member6" text="Member" placeholder="Member6" ></irk-form-item>
	<irk-form-item type="text" id="member7" name="member7" text="Member" placeholder="Member7" ></irk-form-item>
	<irk-form-item type="text" id="member8" name="member8" text="Member" placeholder="Member8" ></irk-form-item>
	</irk-form-step>
  </irk-task> 
  
   <irk-task>
    <irk-consent-review-step id="c11" type="review" title="<h4></h4>
	<p>
	&#10004; &nbsp;Free Dental Check-up from
				Axiss Dental for family of 8 members* <br/>
			&#10004; &nbsp;Free Eye Check-up from Centre
				for Sight for family of 8 members*<br/>
			&#10004; &nbsp;This card cannot be clubbed
				with any other existing offer and cannot be exchanged with cash or
				any other service offered by above companies<br/>
			&#10004; &nbsp;This offer is valid at all
				branches of Axiss Dental & Centre for Sight across india. (t&c
				applied)<br/>
			&#10004; &nbsp;Management of Radical Books,
				Axiss Dental & Centre for Sight reserves the rights to withdraw the
				offer without any prior information </p>"
				
	></irk-consent-review-step>
  </irk-task>
  
  <irk-task ng-app="services" ng-controller="StepData">
    
    <irk-instruction-step id="11" title="Click submit!" text="Press submit button for submit data." button-text="Submit" ng-click="SendData()"> />

  
  

</irk-ordered-tasks>

</ion-modal-view>


