<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
	
        <div class="list list-inset" ng-app="services" ng-controller="ViewData" > 
		<button class="button" ng-click="doViewExit()">Exit</button>
            <button class="button button-block button-calm" ng-click="viewModalConsent()">Get Data</button>

            <table ng-show="responsedata">
                <tr><td>Name</td><td>City</td><td>Email</td><td>Phone No</td><td>View</td></tr> 
                    <tr ng-repeat="data in responsedata"> 
                        <td>{{data.name}}</td>
                        <td>{{data.city}}</td> 
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td> 
                        <td><button class=""btn btn-primary btn-xs"" ng-click="viewdetail({{ data}})">View</button></td> 
                    </tr> 
            </table>

            <!-- <div class="row header" ng-show="responsedata">  -->
            <!-- <div class="col">Name</div>  -->
            <!-- <!-- <div class="col">Card No</div>  --> 
            <!-- <!-- <div class="col">City</div> -->
            <!-- <div class="col">Email</div>  -->
            <!-- <div class="col">Phone No</div>  -->
            <!-- <div class="col">Action</div>  -->
            <!-- </div> -->

            <!-- <div class="row" ng-repeat="data in responsedata"> -->
            <!-- <div class="col">{{data.name}}</div> -->
            <!-- <!-- <div class="col">{{data.card_no}}</div>  --> 
            <!-- <!-- <div class="col">{{data.city}}</div> -->
            <!-- <div class="col">{{data.email}}</div>  -->
            <!-- <div class="col">{{data.phone}}</div>  -->
            <!-- <div class="col"><button class=""btn btn-primary btn-xs"" ng-click="viewdetail({{ data}})">View</button></div>  -->
            <!-- </div> -->

        </div>
    </ion-content>
</ion-view>
