<!-- <ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
 -->

<ion-view hide-nav-bar="true">
       <ion-content  padding="true" scroll="false" style="background: url(img/login.jpg) center; background-size: cover;">
		<div class="row responsive-md" align="center" style="margin-top: 40%">
		 <div class="col col-50 col-offset-25">
	<img src="img/radical.jpg" alt="Radical Books Logo" height="" width="">
</div>
          <div class="list"  style="margin-top: 10%">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
			<br/>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-calm" ng-click="signIn(user)">
              Sign-In
            </button>
           </div>
          </div>
        </ion-content>  
		
		  <!-- <ion-content padding="true" scroll="false">
        <form>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="header padding text-center">
                        <img src="img/logo.png" alt="Your logo here"/>
                    </div>

                    <div class="list">
                        <label class="item item-input">
                            <input type="email" placeholder="Email">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password">
                        </label>
                    </div>

                    <button class="button button-block button-positive">
                        Log In
                    </button>

                    <div class="row row-no-padding">
                        <div class="col">
                            <button class="button button-clear button-light">
                                Forgot password?
                            </button>
                        </div>

                        <div class="col text-right">
                            <button class="button button-clear button-light">
                                Sign up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content> -->
      </ion-view>