<ion-view view-title="Radical Books ResearchKit"> <ion-content
	style="background: url(img/login.jpg) center; background-size: cover;">

<div align="center" style="margin-top: 25%">
	<img src="img/radical.jpg" alt="Radical Books Logo" height="" width="">
</div>
<!-- <h1>Student Register Form</h1> -->


<div class="card list">
	<div class="item item-text-wrap" align="center">
		PRIVILEGE CARD REGISTRATION FORM
		<button class="button button-block button-outline button-calm"
			ng-click="openModal()">Create</button>
	</div>
	</div>
	
	<div class="card list">
	  <div class="item item-text-wrap" align="center">
        Details of your study.
        <button class="button button-block button-outline button-calm" ng-click="openModalConsent()">
          View Records
        </button>
      </div>
<!-- 
      <div class="item item-text-wrap">
        Active tasks invite users to perform activities under partially controlled conditions.

        <button class="button button-block button-outline button-positive" ng-click="openModalActiveTask()">
          Launch Sample Active Task
        </button>
      </div>  -->
</div>

</ion-content> </ion-view>
