<ion-view cache-view="false" view-title="Results">
  <ion-content>
  	<div class="card">
  		<div class="item item-text-wrap" ng-if="!results">
  			Launch the Radical books Survey and Consent to see the results.
  		</div>
  		<div class="item item-text-wrap" ng-if="results">
  			<pre>
    			{{results | json}}
    		</pre>
  		</div>
	  </div>
  </ion-content>
</ion-view>
