body,html{
	overflow:auto !important;
	}

.center {
	text-align:center;
}

button.choice-food-burger {
	background-image: url(../img/food-burger.png) !important;
}

button.choice-food-pizza {
	background-image: url(../img/food-pizza.png) !important;
}

.custom-ionic {
  background-image: url(../img/ionic.png);
}

   table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
   }